/* 
.icon-history {
    width: 25px;
    height: 25px;
}


.icon-delete {
    width: 25px;
    height: 25px;
    color:red;
    font-size: 22px; 
    font-weight: bold;
}

.icon-edit {
    width: 30px;
    height: 25px;
} */