@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider

<AuthorizeView>
    <Authorized>
        <NavMenu />
    </Authorized>
</AuthorizeView>

<div class="main-content">
    @Body
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity != null && user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"🔒 Authenticated: {user.Identity.IsAuthenticated}");
        }
        else
        {
            Console.WriteLine("User not authenticated");
        }
    }

}
