@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blood Bank</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door fs-5 align-middle"></i> <span class="fw-semibold">Home</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/dashboard">
                <i class="bi bi-speedometer2 fs-5 align-middle"></i> <span class="fw-semibold">Dashboard</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/donar">
                <i class="bi bi-heart-pulse fs-5 align-middle"></i> <span class="fw-semibold">Donor</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/patient">
                <i class="bi bi-person-hearts fs-5 align-middle"></i> <span class="fw-semibold">Patient</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/hospital">
                <i class="bi bi-hospital fs-5 align-middle"></i> <span class="fw-semibold">Hospital</span>
            </NavLink>
        </div>

        <div class="nav-item px-3 d-none">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/registerPatient">
                <i class="bi bi-file-earmark-person fs-5 align-middle"></i> <span class="fw-semibold">Register Patient</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/registerUser">
                <i class="bi bi-person-plus fs-5 align-middle"></i> <span class="fw-semibold">Register User</span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-2" href="/users">
                <i class="bi bi-people fs-5 align-middle"></i> <span class="fw-semibold">Manage Users</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
