@page "/forgot-password"
@inject HttpClient Http
@inject NavigationManager Navigation
@using BloodBankManagementSystem.Core.Models;

<h3>Forgot Password</h3>
<EditForm Model="emailModel" OnValidSubmit="SendOtp">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@

    <InputText @bind-Value="emailModel.Email" placeholder="Enter your email" />
    <button type="submit">Send OTP</button>
</EditForm>

@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>
}

@code {
    private ForgotPasswordRequest emailModel = new();
    private string Message;

    private async Task SendOtp()
    {
        var res = await Http.PostAsJsonAsync("api/auth/send-otp", emailModel);

        if (res.IsSuccessStatusCode)
        {
            Message = "OTP sent to your email!";
            //await Task.Delay(200);
            Navigation.NavigateTo($"/verify-otp?email={emailModel.Email}");
        }
        else
        {
            Message = "Failed to send OTP.";
        }
    }
}
