@page "/forgot-password"
@inject HttpClient Http
@inject NavigationManager Navigation
@using BloodBankManagementSystem.Core.Models;

<h3>Forgot Password</h3>

<div class="form-container">
    <EditForm Model="emailModel" OnValidSubmit="SendOtp">
        <DataAnnotationsValidator />

        <InputText @bind-Value="emailModel.Email" placeholder="Enter your email" class="input-text" />
        <button type="submit" class="submit-btn">Send OTP</button>
    </EditForm>

    @if (!string.IsNullOrEmpty(Message))
    {
        <p class="message">@Message</p>
    }
</div>

@code {
    private ForgotPasswordRequest emailModel = new();
    private string Message;

    private async Task SendOtp()
    {
        var res = await Http.PostAsJsonAsync("api/auth/send-otp", emailModel);

        if (res.IsSuccessStatusCode)
        {
            Message = "OTP sent to your email!";
            Navigation.NavigateTo($"/verify-otp?email={emailModel.Email}");
        }
        else
        {
            Message = "Failed to send OTP.";
        }
    }
}

