@page "/reset-password-after-otp"
@inject NavigationManager Navigation
@inject HttpClient Http
@using BloodBankManagementSystem.Core.Models;

@code {
    [Parameter] public string Email { get; set; }
    [Parameter] public string Otp { get; set; }
}

<h3>Reset Password</h3>
<EditForm Model="resetModel" OnValidSubmit="Reset">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@

    <InputText @bind-Value="resetModel.NewPassword" type="password" placeholder="New Password" />
    <button type="submit">Reset Password</button>
</EditForm>

@if (!string.IsNullOrEmpty(Message))
{
    <p>@Message</p>
}

@code {
    private ResetPasswordRequest resetModel = new();
    private string Message;

    protected override void OnInitialized()
    {
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        resetModel.Email = query["email"];
        resetModel.Otp = query["otp"];
    }

    private async Task Reset()
    {
        var res = await Http.PostAsJsonAsync("api/auth/reset-password", resetModel);

        if (res.IsSuccessStatusCode)
        {
            Message = "Password reset successfully! Redirecting to login...";
            await Task.Delay(2000);
            Navigation.NavigateTo("/login");
        }
        else
        {
            Message = "Failed to reset password.";
        }
    }
}
