@inject HttpClient Http
@inject IJSRuntime JSRuntime
@using BloodBankManagementSystem.Core.Models;
@using Radzen
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<div class="history-modal">
    <div class="position-relative">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" @onclick="Close"></button>
    </div>
    <div class="title-section">
        User History - @FullName
    </div>

    @if (UserHistoryList != null && UserHistoryList.Any())
    {
        <div class="radzen-grid-wrapper">
            <RadzenDataGrid TItem="UserHistory"
                            Data="@UserHistoryList"
                            Count="@UserHistoryList.Count"
                            ShowPagingSummary="true"
                            PageSize="10"
                            AllowFiltering="true"
                            AllowPaging="true"
                            AllowSorting="true"
                            Responsive="true"
                            FilterMode="FilterMode.Simple"
                            class="rz-datagrid-sticky-header">
                <Columns>
                    <RadzenDataGridColumn TItem="UserHistory" Property="ActionDate" Title="Date" />
                    <RadzenDataGridColumn TItem="UserHistory" Property="ActionType" Title="Action" />
                    <RadzenDataGridColumn TItem="UserHistory" Property="ActionUser" Title="User" />
                    <RadzenDataGridColumn TItem="UserHistory" Property="ActionNote" Title="Note" />
                </Columns>
            </RadzenDataGrid>
        </div>
    }
    else
    {
        <p class="m-3">No user history available.</p>
    }
</div>
