@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';
@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-g4ywb9jxby] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-g4ywb9jxby] {
    flex: 1;
}

.sidebar[b-g4ywb9jxby] {
    /* background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%); */

    background-image: linear-gradient(180deg, rgb(27, 76, 125) 0%, #18567a 70%);
}

.top-row[b-g4ywb9jxby] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-g4ywb9jxby]  a,
.top-row[b-g4ywb9jxby]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-g4ywb9jxby]  a:hover,
.top-row[b-g4ywb9jxby]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-g4ywb9jxby]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-g4ywb9jxby] {
        justify-content: space-between;
    }

    .top-row[b-g4ywb9jxby]  a,
    .top-row[b-g4ywb9jxby]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-g4ywb9jxby] {
        flex-direction: row;
    }

    .sidebar[b-g4ywb9jxby] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-g4ywb9jxby] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-g4ywb9jxby]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-g4ywb9jxby],
    article[b-g4ywb9jxby] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
/* /Pages/DashboardComponent.razor.rz.scp.css */
body[b-w7gcqouxhw] {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    /* Light gray background */
}

.container[b-w7gcqouxhw] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.widget[b-w7gcqouxhw] {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    flex: 1 0 200px;
    /* Adjust min-width as needed */
    min-width: 400px;
}

.widget h2[b-w7gcqouxhw] {
    margin-top: 0;
}

.number[b-w7gcqouxhw] {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.chart[b-w7gcqouxhw] {
    height: 250px;
    /* Adjust as needed */
    background-color: #eee;
    /* Placeholder for chart area */
    border: 1px dashed #ccc;
}

.chart-legend[b-w7gcqouxhw] {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.chart-legend-item[b-w7gcqouxhw] {
    display: flex;
    align-items: center;
}

.chart-legend-color[b-w7gcqouxhw] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .widget[b-w7gcqouxhw] {
        flex: 1 0 90%;
        /* Full width on smaller screens */
    }
}
/* /Pages/Home.razor.rz.scp.css */
/* /Shared/CustomPopup.razor.rz.scp.css */
